# RStudio files
.Rproj.user/

# Produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token
.httr-oauth

# Knitr and R Markdown default cache directories
*_cache/
/cache/

# Temporary files created by R Markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# Translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# History files
.Rhistory
.Rapp.history

# Session Data & R Artifacts
.RData
.RDataTmp
*.[rR][dD][sS]
*.csv
*.tsv
*.txt
*.png
*.html

# User-specific & Directory Exclusions
.Ruserdata
*/temp/*
*/archive/*
twinEstResults/*
/combined/*

# Package build artifacts
*-Ex.R
/*.tar.gz
